@import '../../index.scss';

.calling-card {
  width: 100%;
}

.calling-card-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $prussian-blue;
}

.cc-card1,
.cc-card2,
.cc-card3,
.cc-card4,
.cc-card5,
.cc-card6,
.cc-card7 {
  position: absolute;
  text-align: center;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.cc-card1 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/background-final.png');
}

.cc-card2 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/maps-final.png');
}

.cc-card3 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/rainbow-final.png');
}

.cc-card4 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/lines-final.png');
}

.cc-card5 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/logo-final.png');
}

.cc-card6 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/bridging-final.png');
}

.cc-card7 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/text-final.png');
}

.cc-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 400px;
}

@media (min-width: 600px) {
  .cc-container {
    width: 100%;
    height: 550px;
  }

  .cc-card1 {
    height: 25ch;
  }

  .cc-card2 {
    height: 25ch;
  }

  .cc-card3 {
    height: 25ch;
  }

  .cc-card4 {
    height: 25ch;
  }

  .cc-card5 {
    height: 25ch;
  }

  .cc-card6 {
    height: 25ch;
  }

  .cc-card7 {
    height: 25ch;
  }
}

@media (min-width: 700px) {
  .cc-card1 {
    height: 30ch;
  }

  .cc-card2 {
    height: 30ch;
  }

  .cc-card3 {
    height: 30ch;
  }

  .cc-card4 {
    height: 30ch;
  }

  .cc-card5 {
    height: 30ch;
  }

  .cc-card6 {
    height: 30ch;
  }

  .cc-card7 {
    height: 30ch;
  }
}

@media (min-width: 800px) {
  .cc-card1 {
    height: 40ch;
  }

  .cc-card2 {
    height: 40ch;
  }

  .cc-card3 {
    height: 40ch;
  }

  .cc-card4 {
    height: 40ch;
  }

  .cc-card5 {
    height: 40ch;
  }

  .cc-card6 {
    height: 40ch;
  }

  .cc-card7 {
    height: 40ch;
  }
}

@media (min-width: 925px) {
  /* Ideal Size */

  .cc-container {
    width: 100%;
    height: 700px;
  }

  .cc-card1 {
    height: 50ch;
  }

  .cc-card2 {
    height: 50ch;
  }

  .cc-card3 {
    height: 50ch;
  }

  .cc-card4 {
    height: 50ch;
  }

  .cc-card5 {
    height: 50ch;
  }

  .cc-card6 {
    height: 50ch;
  }

  .cc-card7 {
    height: 50ch;
  }
}

@media (min-width: 1300px) {
  .cc-container {
    width: 100%;
    height: 700px;
  }

  .cc-card1 {
    height: 60ch;
  }

  .cc-card2 {
    height: 60ch;
  }

  .cc-card3 {
    height: 60ch;
  }

  .cc-card4 {
    height: 60ch;
  }

  .cc-card5 {
    height: 60ch;
  }

  .cc-card6 {
    height: 60ch;
  }

  .cc-card7 {
    height: 60ch;
  }
}
