@import '../../index.scss';

.calling-card {
  width: 100%;
}

.calling-card-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $prussian-blue;
}

.Ccard1,
.Ccard2,
.Ccard3,
.Ccard4,
.Ccard5,
.Ccard6,
.Ccard7 {
  position: absolute;
  text-align: center;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.Ccard1 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/background-final.png');
}

.Ccard2 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/maps-final.png');
}

.Ccard3 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/rainbow-final.png');
}

.Ccard4 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/lines-final.png');
}

.Ccard5 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/logo-final.png');
}

.Ccard6 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/bridging-final.png');
}

.Ccard7 {
  width: 85%;
  height: 20ch;
  background-image: url('../../Images/SubImages/text-final.png');
}

.Ccontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 400px;
}

@media (min-width: 600px) {
  .Ccontainer {
    width: 100%;
    height: 550px;
  }

  .Ccard1 {
    height: 25ch;
  }

  .Ccard2 {
    height: 25ch;
  }

  .Ccard3 {
    height: 25ch;
  }

  .Ccard4 {
    height: 25ch;
  }

  .Ccard5 {
    height: 25ch;
  }

  .Ccard6 {
    height: 25ch;
  }

  .Ccard7 {
    height: 25ch;
  }
}

@media (min-width: 700px) {
  .Ccard1 {
    height: 30ch;
  }

  .Ccard2 {
    height: 30ch;
  }

  .Ccard3 {
    height: 30ch;
  }

  .Ccard4 {
    height: 30ch;
  }

  .Ccard5 {
    height: 30ch;
  }

  .Ccard6 {
    height: 30ch;
  }

  .Ccard7 {
    height: 30ch;
  }
}

@media (min-width: 800px) {
  .Ccard1 {
    height: 40ch;
  }

  .Ccard2 {
    height: 40ch;
  }

  .Ccard3 {
    height: 40ch;
  }

  .Ccard4 {
    height: 40ch;
  }

  .Ccard5 {
    height: 40ch;
  }

  .Ccard6 {
    height: 40ch;
  }

  .Ccard7 {
    height: 40ch;
  }
}

@media (min-width: 925px) {
  /* Ideal Size */

  .Ccontainer {
    width: 100%;
    height: 700px;
  }

  .Ccard1 {
    height: 50ch;
  }

  .Ccard2 {
    height: 50ch;
  }

  .Ccard3 {
    height: 50ch;
  }

  .Ccard4 {
    height: 50ch;
  }

  .Ccard5 {
    height: 50ch;
  }

  .Ccard6 {
    height: 50ch;
  }

  .Ccard7 {
    height: 50ch;
  }
}

@media (min-width: 1300px) {
  .Ccontainer {
    width: 100%;
    height: 700px;
  }

  .Ccard1 {
    height: 60ch;
  }

  .Ccard2 {
    height: 60ch;
  }

  .Ccard3 {
    height: 60ch;
  }

  .Ccard4 {
    height: 60ch;
  }

  .Ccard5 {
    height: 60ch;
  }

  .Ccard6 {
    height: 60ch;
  }

  .Ccard7 {
    height: 60ch;
  }
}
