.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  position: absolute;
  text-align: center;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  width: 25ch;
  height: 25ch;
  background-image: url('../../Images/gears-layer-1.png');
}

.card2 {
  width: 25ch;
  height: 25ch;
  background-image: url('../../Images/gears-layer-2.png');
}

.card3 {
  width: 25ch;
  height: 25ch;
  background-image: url('../../Images/gears-layer-3.png');
}

.card4 {
  width: 25ch;
  height: 25ch;
  background-image: url('../../Images/connected-users-flat-vector-icon-isolated-graphic-style-eps-simple-flat-icon-element-business-office-concept-connected-users-160487412.png');
}

.card5 {
  width: 25ch;
  height: 25ch;
  background-image: url('../../Images/gears-layer-4.png');
}

.card6 {
  width: 25ch;
  height: 25ch;
  background-image: url('../../Images/gears-layer-5.png');
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

@media (min-width: 600px) {
  .card1 {
    width: 25ch;
    height: 25ch;
  }

  .card2 {
    width: 25ch;
    height: 25ch;
  }

  .card3 {
    width: 25ch;
    height: 25ch;
  }

  .card4 {
    width: 25ch;
    height: 25ch;
  }

  .card5 {
    width: 25ch;
    height: 25ch;
  }

  .card6 {
    width: 25ch;
    height: 25ch;
  }
}

@media (min-width: 700px) {
  .card1 {
    width: 30ch;
    height: 30ch;
  }

  .card2 {
    width: 30ch;
    height: 30ch;
  }

  .card3 {
    width: 30ch;
    height: 30ch;
  }

  .card4 {
    width: 30ch;
    height: 30ch;
  }

  .card5 {
    width: 30ch;
    height: 30ch;
  }

  .card6 {
    width: 30ch;
    height: 30ch;
  }
}

@media (min-width: 800px) {
  .card1 {
    width: 40ch;
    height: 40ch;
  }

  .card2 {
    width: 40ch;
    height: 40ch;
  }

  .card3 {
    width: 40ch;
    height: 40ch;
  }

  .card4 {
    width: 40ch;
    height: 40ch;
  }

  .card5 {
    width: 40ch;
    height: 40ch;
  }

  .card6 {
    width: 40ch;
    height: 40ch;
  }
}

@media (min-width: 925px) {
  /* Ideal Size */

  .card1 {
    width: 50ch;
    height: 50ch;
  }

  .card2 {
    width: 50ch;
    height: 50ch;
  }

  .card3 {
    width: 50ch;
    height: 50ch;
  }

  .card4 {
    width: 50ch;
    height: 50ch;
  }

  .card5 {
    width: 50ch;
    height: 50ch;
  }

  .card6 {
    width: 50ch;
    height: 50ch;
  }
}
