.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  position: absolute;
  text-align: center;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  width: 50ch;
  height: 50ch;
  background-image: url('../../Images/gears-layer-1.png');
}

.card2 {
  width: 50ch;
  height: 50ch;
  background-image: url('../../Images/gears-layer-2.png');
}

.card3 {
  width: 50ch;
  height: 50ch;
  background-image: url('../../Images/gears-layer-3.png');
}

.card4 {
  width: 50ch;
  height: 50ch;
  background-image: url('../../Images/connected-users-flat-vector-icon-isolated-graphic-style-eps-simple-flat-icon-element-business-office-concept-connected-users-160487412.png');
}

.card5 {
  width: 50ch;
  height: 50ch;
  background-image: url('../../Images/gears-layer-4.png');
}

.card6 {
  margin: auto;
  width: 50ch;
  height: 50ch;
  background-image: url('../../Images/gears-layer-5.png');
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
